<header>
    <div class="div-mainlogo">
        <img src="/images/logo-2.png" alt="logo-2" class="img-mainlogo">
    </div>
    <div class="loged-user-header
        <% if(locals.userData && userData.NOMBRE) { %>
             visible
        <% } %>
        ">
        <% if(locals.userData && userData.NOMBRE) { %>
            <p>Hola, <%= userData.NOMBRE %> </p>
            <form action="/ordenes/listaCompras/<%= userData.ID %>" method="GET">
                
                <input name="header-user-id" value="<%= userData.ID %>" style="display:block" />
                <button type="submit" class="boton">MIS COMPRAS</button>
            </form>
            <br>
        <% } %>
    </div>
    <div>
        <nav>
            <ul class="main-nav">
                <li style="width:15%"><a href="/" class="a-navbar">HOME</a></li>
                <li style="width:25%"><a href="/products" class="a-navbar">PRODUCTOS</a></li>
                <li style="width:20%"><a href="/carrito" class="a-navbar">CARRITO</a></li>
                <li style="width:25%"><a href="/users/register" class="a-navbar">REGISTRO</a></li>
                <li style="width:15%"><a href="/users/login" class="a-navbar">LOGIN</a></li>
            </ul>
        </nav>
    </div>
    <!--
    <div class="main-nav">
        <div>HOME</div>
        <div>PRODUCTOS</div>
        <div>CARRITO</div>
        <div>REGISTRO</div>
        <div>LOGIN</div>
    </div>
    -->            
</header>