<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesProductCatalog.css">
    </head>
    
    <%- include('./partials/header') %>
    
    <body class="body-page-login">
        <div class="div-center">
            <h1> <%= mensaje %></h1>
            <br><br>
            <p>Oprima el siguiente boton para regresar</p>
            <a href="<%=  returnLink  %>">
                <button>REGRESAR</button>
            </a>
        </div>
    </body>
</html>