<!DOCTYPE html>
<html>
<head>
        <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1 class="headerDescripcionDelProducto headerPrincipal"><br>CARRITO DE COMPRAS<br><br></h1>
        <section class="seccionCartL1">
            <!--sección de descripción del producto-->
            <section class="seccionDescripcionDelProducto cartTableCell cartTableCellDesc">
                <!--header para el nombre del producto-->
              <header class="headerDescripcionDelProducto">
                <h1 id="producto-nombre">
                    PRODUCTO MUESTRA
                </h1>
              </header>
              <!--articulo para describir el producto-->
              <article class="articuloDescripcionDelProducto">
                <p id="producto-descripcion">
                    DESCRIPCION MUESTRA
                </p>
              </article>
            </section>
            <!--Precion del producto-->
            <article class="articlePrecioProducto cartTableCell cartTableCellPrecio">
                <p style="display:inline">$</p>
                <p id="producto-precio" style="display:inline">123</p>
            </article>    
            <article class="articlePrecioProducto cartTableCell cartTableCellPrecio">
                <p style="display:block">Cant. </p>
                <p id="producto-precio" style="display:inline">10</p>
            </article>                     
          </section>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>
