/*Estilo del H1*/
.headerPrincipal {
    display:block;
    text-align: center;

}

/*Estilos sección de descrición y pagos del producto*/
.seccionCartL1 {
    max-width: 800px;
    padding: 0px 10px 10px 10px;
    margin: auto;
    /*border: dotted 2px red;*/
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    border: solid 4px gainsboro;
  }

  .cartTableCell {
    border: 2px double black;
    
  }

  .cartTableCellDesc {
    width: 70%;

  }

  .cartTableCellPrecio {
    width: 15%;

  }