/*Estilo del H1*/
.headerPrincipal {
    display:block;
    text-align: center;

}

.max-width-800 {
  max-width: 800px;
  margin:auto;
}

/*Estilos sección de descrición y pagos del producto*/
.seccionCartL1 {
    max-width: 800px;
    padding: 0px 10px 10px 10px;
    margin: auto;
    /*border: dotted 2px red;*/
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    border: solid 4px gainsboro;
  }

  .seccionCartHeader {
    /*font-size: 20px;*/
    color:white;
    background-color: black;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    /*border: dotted 2px red;*/
    justify-content: space-evenly;
    border: solid 4px gainsboro;    
  }

  .cartTableCell {
    border: 2px double black;
    
  }

  .cartTableCellDesc {
    width: 70%;
    
  }

  .cartTableCellDescL1 {
    font-size: 20px;
  }

  .cartTableCellPrecio {
    width: 15%;

  }

  .cartTableCellInvisible {
    display:none;
  }

  .col1 {
    width: 45%;
  }

  .col2 {
    width: 15%;
  }

  .col3 {
    width: 15%;
  }

  .col4 {
    width: 15%;
  }

  .col5 {
    width: 10%;
  }  

  .botonEliminar {
    width:100%;
    margin: 3px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    background-color: black;
    color: white;
  }

  @media screen (max-width:600px) {
  
  }